# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ToDo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Styding\Programming\SoftServe Internship\ToDo\.idea\.idea.ToDo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
